*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(#2b1055,#7597de);
    min-height: 100vh;
    background-size: cover;
    overflow-x: hidden;
}

/* BARRA DE NAVEGACION------------------------- */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header li{
    list-style: none;
    margin-left: 20px;
}

header li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}

header ul li a:hover,
header .active{
    background-color: #fff;
    color: #2b1055;
    border-radius: 20px;
}

@media (max-width:992px){
    header{
        padding: 20px;
    }

    header .logo{
        font-size: 1.5em;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #2b1055;
    }

    header .navigation li a{
        font-size: 1.5em;
        margin: 5px 0;
        display: inline-block;
    }

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../assets/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    .toggle.active{
        background: url(../assets/close.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    #sec{
        padding: 20px;
    }

    #sec h2{
        font-size: 1.5em;
    }
}

/* SECCION INICIO */

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 999;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_behind{
    z-index: 8;
}

section img#mountains_front{
    z-index: 10;
}

#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -70px;
}

#btn{
    position: absolute;
    background-color: #fff;
    color: #2b1055;
    text-decoration: none;
    border-radius: 40px;
    padding: 8px 30px;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(150px);
}

@media (max-width:992px){
    #text{
        font-size: 4.5em;
    }
}

/* SECCION 2 */

.sec{
    position: relative;
    padding: 100px;
    background-color: #1c0522;
    color: #fff;
    z-index: 100;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1.2em;
}
